<!DOCTYPE html>
<html>
<head>
	<title>Connect Your Stripe Account</title>
</head>
<body>

Here is the link: <a href="http://localhost:3000/pacs/confirm?signup_token=<%= @pac.signup_token %>">Confirm Your Account</a>

</body>
</html>