// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}
body {
/*  background-color: #23242E;
*/  /*font-family: "tablet-gothic-condensed", sans-serif;*/

}
.top-story {
  background-color: #f4f4f4;
  margin: auto -20%;
  text-align: center;
}
.party {
  color: #4E4E4E;
  font-size: 1em;
  font-family: Merriweather, Georgia, serif;
}
.event-title {
  font-size: 1.7em;
  line-height: 1.3em;
  font-family: Prenton Condensed, Impact, sans-serif;
  color: #969696;
}
.sticky {
  position:fixed;
}
.top-50 {
  top: 198px;
}
.margin-top-50 {
  margin-top: 50px;
}
// .circle-pic {
//   border-radius: 100%;
//   width: 200px;
//   height: 200px;
//   background-size: cover !important;
//   background-position:50% 50%;
// }
.centered-text {
  text-align: center;
}
.well {
/*  background-color: #383A44;
*/}
.glyphicon-user {
  font-size: 1.8em;
}
.user {
  margin-left: 20px;
}
.tally {
  font-family: 'Dosis', sans-serif;
  font-size: 1.5em;
  font-style: bold;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  margin-left: 10px;
}
.feed {
  background-color: white;
  padding: 20px;
}
.side {
  background-color: #F5F5F5;
  border-radius: 5px;
}

.navbar {
  font-size: 1.2em;
}
.button-div {
  margin-top: 10%;
  text-align: center;
}
.buttonz {
  padding: 10px 25px;
  margin-top: 40px;
  font-size: 1em;
  color: white;
}
.support {
  margin-right: 20%;
}
.oppose {
  margin-right: 15%;
}
p {
  text-align: center;
  margin-top: 5px;
}
.rowspace {
  margin-top: 30px;
}
img {
}
.smallimages {
  height: 100px;
}
.margin-top-20 {
  margin-top: 20px;
}
 .Polcenter {
   text-align: center;
   margin-bottom: 50px;
}
 .imgscoreboard {
   margin-left: auto;
   margin-right: auto;
   margin-top: 50px;
}

#users-balance .feed, #local-pol-container .feed {
  width:350px;
}
.pol-pics {
  height: 175px;
  border-radius: 5px;
  margin: 0 auto;
}
.pol-pic {
  border-radius: 5px;
}
span.glyphicon-arrow-up, span.glyphicon-arrow-down {
  font-size: 1.4em;
  color: #988f98;
}
.arrows {
  margin-top: 50px;
  height: 200px;
}
a:hover, span.glyphicon-arrow-up:hover, span.glyphicon-arrow-down:hover {
  background-color: #d4d5d3 !important;
  color: white !important;
}
.event-background {
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
}
.comments {
  margin: 0 auto;
  margin-top: 5%;
  width: 70%;
}
.comments > p {
  text-align: left;
}
.comment-button {
  margin-left: 20px;
  margin-bottom: 5%;
}
.top-event {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2em;
  color: white !important;
  font-family: Merriweather, Georgia, serif;
}
.top-story {
  padding-bottom: 20px;
}
.headliner {
  font-size: 5.2em;
  font-family: Prenton Condensed, Impact, sans-serif;
}
.summary {
  font-family: Merriweather, Georgia, serif;
}
.breadcrumb {
  color: white !important;
  text-align: left;
  margin-left: 10%;
}
span {
  font-family: Merriweather, Georgia, serif;
}
.pol-name {
  font-size: 1.2em;
  font-family: Merriweather, Georgia, serif;
}
.pol-info {
  line-height: .9em;
  font-size: .9em;
  font-family: Merriweather, Georgia, serif;
}
.favorite {
  margin-left: 21%;
}
.headline {
  margin: 0 10px;
}
.centered {
  text-align: center;
  margin: 0 auto;
}
.space {
  padding: 2%;
}
.delete {
  margin-left: 26%;
}